body {
  margin-top:30px;
 background:white;
}

p2 {
  margin:10px;
  font-size:31px;
  padding:1px;
 text-align:center;
  text-align:center;
  color:red;
}

.link{
  margin:10px;
  border-radius:60px;
  font-size:34px;
  background:#2E9AFE;
  padding:5px 10px;
  border-width: 3.5px;
  border-style: solid;
  border-color: black;
  color:white;
}


.conteinerP {
  margin:30px;
  border-width: 3.5px;
  border-style: solid;
  border-color: black;
  color:#ffffff;
  border-radius:10px;
  padding:20px;
  background:#000000;
}

.conteiner{
  margin:30px
}
